body {
    padding-top: 90px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Custom CSS */

.field-validation-error span {
    color: red;
}
li.gigs {
    position: relative;
    margin-bottom: 30px;
    list-style: none;
}
li.gigs .details {
    position: absolute;
    top: 0px;
    left: 70px;    
}

li.gigs .date {
    background: #2196f3;
    color:#fff;
    text-align: center;
    width: 60px;
    border-radius: 5px;
}

li.gigs .date .month {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 2px 5px;
}
    li.gigs .date .day {
        background: #eee;
        color: #333;
        font-size: 20px;
    }
li.gigs .details .artist {
    font-weight: bold;
    display: block;    
}
li.gigs .details .genre {
    font-size: 15px;   
}